* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  color: rgb(0, 117, 178) !important;
}

button {
  outline: none !important;
}

.title-hr {
  background: #e80404;
  height: 0.25rem;
}

.title {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 900;
  display: inline-block;
}

.title::after {
  content: "";
  display: block;
  border-top: 6px solid #e80404;
}

.globe-svg {
  display: inline;
  height: 47px;
  width: 47px;
  padding-bottom: 7px;
}

.title-container {
  text-align: center;
}

.source-select-container {
  text-align: center;
}

.story-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.story-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.column_title_leftpadded {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
