* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: calc(100vh - 120px);
}

li {
  list-style: none;
}

button {
  outline: none !important;
}

footer {
  height: 40px;
}

.title-hr {
  background: #e80404;
  height: 0.25rem;
}

.title {
  font-family: canada-type-gibson, sans-serif;
  font-weight: 900;
  display: inline-block;
}

.title::after {
  content: "";
  display: block;
  border-top: 6px solid #e80404;
}

.globe-svg {
  display: inline;
  height: 47px;
  width: 47px;
  padding-bottom: 7px;
}

.title-container {
  text-align: center;
}

.source-select-container {
  text-align: center;
}

.spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2rem;
  margin: auto;

  animation: spin 1s infinite linear;
}

.spinner.show {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.story-list-scores {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0 !important;
}

.stories {
  margin-top: 2rem;
}

.story-icon-tray {
  display: flex;
  flex-direction: row;
}

[data-tooltip] {
  position: relative;
  cursor: default;
}

[data-tooltip]::after {
  position: absolute;
  width: 140px;
  left: calc(50% - 70px);
  bottom: 125%;
  text-align: center;
  box-sizing: border-box;

  content: attr(data-tooltip);
  color: #f3f3f3;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 10px;
  font-size: 0.8rem;

  visibility: hidden;
  opacity: 0;

  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.story-icon-tray p:not(:first-child) {
  margin-left: 1rem;
}

img.story-icon {
  width: 1.4rem;
}

.story-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.story-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.column_title_leftpadded {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#copy {
  color: #e80404;
  /* position: absolute;
  bottom: 0; */
}
