{% extends 'base.html' %} {% block title %} News Fight {% endblock %} {% block
content %}

<div class="title-container d-flex flex-column justify-content-center mb-4">
  <div class="title-text-container">
    <h1 class="title">
      NEWS <img class='globe-svg' src="{{ url_for('static',
      filename="assets/globe.svg") }}" alt=""> FIGHT
    </h1>
    <!-- <div class="title-hr-container">
    <hr class='title-hr'>
  </div> -->
  </div>
</div>

<div class="container mb-3">
  <div class="row justify-content-md-center">
    <dv class="form-group">
      <form action="/search" class="form-inline searchForm" method="POST">
        <!-- <input
          type="text"
          class="searchInput"
          id="topic_search"
          name="topic_search"
          placeholder="input a topic"
        /> -->
        <div class="form-group mb-2">
          <label for="topic_search" class="mr-3">Enter A Topic</label>
          <input
            name="topic_search"
            type="text"
            class="form-control searchInput mr-3"
            id="topic_search"
            placeholder="e.g. 'China' or 'Trump'"
          />
          <button class="btn btn-primary">Search Articles</button>
          
        </div>
      </form>
    </dv>
  </div>
</div>
<div class="contaier story-container">
  <div class="spinner"></div> 
  <div class="row">
    <div class="col">
      <!-- LEFT NEWS SOURCES-->
      <!-- LEFT NEWS SOURCES- -->
      <div class="source-select-container">
      <!-- <label for="left_sources">Select a News Source</label> -->
      <select name="left_sources" class="form-control" id="left-sources">
        <option disabled selected value> -- Select a News Source -- </option>
        {% for source in sources %}
        <option
          data-fullurl="{{source['full_url']}}"
          value="{{source['formatted_url']}}"
        >
          {{source['name']}}
        </option>
        {% endfor %}
      </select>
      
    </div> 

      <!-- LEFT NEWS STORIES- -->
      <ul class="stories" id="stories-left">
      </ul>
    </div>

    <!-- RIGHT NEWS SOURCES- -->
    <div class="col">
      <div class="source-select-container">
        <!-- <label for="right_sources">Select a News Source</label> -->
        <select name="right_sources" class="form-control" id="right-sources">
          <option disabled selected value> -- Select a News Source -- </option>
          {% for source in sources %}
          <option
            data-fullurl="{{source['full_url']}}"
            value="{{source['formatted_url']}}"
          >
            {{source['name']}}
          </option>
          {% endfor %}
        </select>
      
      </div>
    
      <!-- RIGHT NEWS STORIES- -->
     
      <ul class="stories" id="stories-right">

      </ul>
    </div>
  </div>
</div>
<!-- Library JS & our JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script type="module" src="/static/js/modules/views.js"></script> 
<script type="module" src="/static/js/modules/api.js"></script> 
<script type="module" src="{{ url_for('static', filename="JS/main.js") }}"></script> 
{% endblock %}
