{% extends 'base.html' %} {% block title %} News Fight {% endblock %} {% block
content %}
<div class="d-flex justify-content-center mb-4">
  <h1>News Fight</h1>
</div>
<div class="container mb-3">
  <div class="row justify-content-md-center">
    <dv class="form-group">
      <form action="/search" class="searchForm"  method="POST">
        <input
          type="text"
          class="searchInput"
          id="topic_search"
          name="topic_search"
          placeholder="input a topic"
        />
        <button class="btn btn-primary">Search Articles</button>
      </form>
    </dv>
  </div>
</div>
<div class="contaier">
  <div class="row">
    <div class="col">
       <!-- LEFT NEWS SOURCES-->        <!-- LEFT NEWS SOURCES- -->
      <label for="left_sources">Choose a News Source</label>
      <select name="left_sources" id="left-sources">
        {% for source in sources %}
        <option value="{{source['formatted_url']}}">{{source['name']}}</option>
        {% endfor %}
      </select>
      <!-- <h3> <a href="https://www.cnn.com">CNN</a> Top Stories for <b>Trump</b> Feb 1 - Feb 4 </h3>
      <h4 class='column_title_leftpadded'>Average Objectivity Score: 4.3</h4> -->
      <!-- LEFT NEWS SOURCES-->        <!-- LEFT NEWS SOURCES- -->
      <ul class ='stories' id="stories-left">
        <!-- TEMPLATE -->        <!-- TEMPLATE -->
        <!-- <li>
          <div class="card">
            <div class="card-body">
              <p>Objectivity Score: 4.6</p>
              <img class="story-thumbnail" src="https://cdn.cnn.com/cnnnext/dam/assets/210202112943-lindsey-graham-liz-cheney-split-super-tease.jpg" alt="">
              <h4>Many voters feel betrayed after GOP lawmaker's impeachment vote</h4>
              <p class="lead">CNN's Kyung Lah speaks with Trump supporters in Washington state who say they feel betrayed after Rep. Dan Newhouse (R-WA) voted yes on the articles of impeachment of President Donald Trump.</p>
              <p>Author : Jill Filipovic</p>
              <p>Published At: 2021-02-03T11:02:47Z </p>
              <a href='https://www.cnn.com/videos/politics/2021/02/03/donald-trump-supporters-dan-newhouse-impeachment-vote-lah-pgk-vpx-lead.cnn'>Link to Full story</a>
            </div>
          </div>
        </li> -->
         <!-- TEMPLATE -->        <!-- TEMPLATE -->
      </ul>
    </div>

    <!-- RIGHT NEWS SOURCES-->        <!-- RIGHT NEWS SOURCES- -->
    <div class="col">
      <label for="right_sources">Choose a News Source</label>
      <select name="right_sources" id="right-sources">
        {% for source in sources %}
        <option value="{{source['formatted_url']}}">{{source['name']}}</option>
        {% endfor %}
      </select>
          <!-- RIGHT NEWS SOURCES-->        <!-- RIGHT NEWS SOURCES- -->
      <ul class ='stories' id="stories-right">

      </ul>
    </div>
  </div>
</div>
<!-- Library JS & our JS -->
<script src="https://unpkg.com/jquery"></script>
<script type="module" src="/static/js/modules/api.js"></script> 
<script type="module" src="{{ url_for('static', filename="JS/stateHandler.js") }}"></script> 

{% endblock %}
